<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel=stylesheet href=/static/old-site/indexstyle.css />
    <meta charset="utf-8" />
    <title>MYPAGE</title>
  </head>
  <body>
    <h1>Thomas Miller's Website</h1>
    <p>Some of my links:<br />
    <a href='https://github.com/TomRobo237'>My Github</a><br />
    <a href='https://www.linkedin.com/in/thomascmiller89/'>Linkedin</a><br />
    <a href='http://www.travistouchdown.moe/static/old-site'>Previous Version of my website</a><br />
    <a href='submission_test_form.html'>Form data submission test</a><br />
    </p>

    <div class="Container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
